<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/link/handlebars-v4.0.11.js"></script>
    <title>회의실 예약 사이트</title>
</head>
<body>
안녕

<div>
    <p class="user-id">The ID is </p>
    <p class="user-email">The email is </p>
</div>

<script id="entry-template" type="text/x-handlebars-template">
    <table>
        <thead>
        <th>회의실</th>
        <th>수용 인원</th>
        <th>기능</th>
        </thead>
        <tbody>
        \{{#each .}}
        <tr>
            <td>\{{roomName}}</td>
            <td style="text-align:center">\{{occupancy}}</td>
            <!--<td><button type="button" class="btn btn-primary" id="show-reservation" value="\{{id}}">예약 상황</button></td>-->
            <td><a href="/reservations/rooms/\{{id}}">예약 상태 보기</a></td>
        </tr>
        \{{/each}}
        </tbody>
    </table>
</script>

<div id="content"></div>

<script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js"></script>

<script type="text/javascript" src="js/index.js"></script>

</body>
</html>