<div class="container" id="userStatus">
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
            <h1>이 페이지는 회의실 예약을 가능하게 합니다.</h1>
            <h3>예약을 하기 위해서 원하는 회의실을 선택하십시오.</h3>
        </div>
        <div class="col-md-4" align="center">
            <div class="alert alert-danger" id="notLoggedIn">Not logged in!</div>
            <a id="kakao-login-btn"></a>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="logoutBtn">logout</button>
        </div>
        <!--<a href="http://developers.kakao.com/logout"></a>-->
    </div>
    <br>
</div>